sudo: required
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
language: node_js
cache: yarn
node_js:
  - '7'
  - '6'
script:
  -  yarn coverage:codecov && yarn test:integration
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.23.3
  - export PATH="$HOME/.yarn/bin:$PATH"
after_success:
  - bash greenkeeper-yarn.sh
